.main-header {
  width: 100%;
  background-color: var(--color-beige);
  padding: 15px 0;
  font-family: var(--font-playfair);
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  width: 24px;
}

.hamburger-menu span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.header-date {
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
  font-weight: 400;
}

.logo-container {
  text-align: center;
  margin-bottom: 10px;
}

.site-logo {
  font-size: 80px;
  font-weight: 800;
  margin: 0;
  line-height: 1;
  color: var(--color-black);
  font-family: var(--font-playfair);
}

.header-bottom {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.header-date-bottom {
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
  font-weight: 400;
}

.header-divider {
  height: 1px;
  background-color: var(--color-black);
  width: 100%;
}

/* Responsive styles */
@media (max-width: 768px) {
  .site-logo {
    font-size: 60px;
  }
  
  .header-date, .header-date-bottom {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .site-logo {
    font-size: 40px;
  }
  
  .header-bottom {
    display: none; /* Скрываем дублирующуюся дату в мобильной версии */
  }
}