.news4 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-31xl);
  max-width: 100%;
  height: 250px;
}
.twitter-name {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.side-news-content2 {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.main-side-news {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
}
.side-news-container1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
  max-width: 100%;
}
.side-news-block1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-xs) 0px var(--padding-sm);
  box-sizing: border-box;
  max-width: 100%;
}
.collection-block {
  align-self: stretch;
  background-color: var(--color-gainsboro-100);
  /* overflow: hidden; */
  /* display: flex; */
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-12xs-3);
  max-width: 100%;
  font-size: var(--font-size-5xl);
  font-family: var(--font-graebenbach);
}
.news-block-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  max-width: 100%;
}
.revolution-banner {
  /* align-self: stretch; */
  width: 1800px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-xs);
  box-sizing: border-box;
  /* max-width: 100%; */
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-gray-200);
  font-family: var(--font-itc-cushing-std);
}