.subscribe-rectangle {
  height: 100%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border: 1.8px solid var(--color-tomato);
  box-sizing: border-box;
  z-index: 0;
}
.subscribe-to-mysite {
  left: 5%;
  height: auto;
  width: auto;
  position: relative;
  line-height: 124.77%;
  white-space: pre-wrap;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
  font-size: var(--font-size-xl);
  color: var(--color-tomato);
  font-family: var(--font-graebenbach);

}
.subscribe-rectangle1 {
  height: 42px;
  width: 469px;
  position: absolute;
  margin: 0 !important;
  border-radius: var(--br-8xs);
  border: 1.8px solid var(--color-tomato);
  box-sizing: border-box;
  z-index: 1;
  background-color: var(--color-white);
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-tomato);
  font-family: var(--font-graebenbach);
  padding: 10px;
}
.subscribe-rectangle1::placeholder{
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-tomato);
  font-family: var(--font-graebenbach);
  background-color: var(--color-white);
}
.subscribe-rectangle1:focus,
.subscribe-rectangle1:active {
  border: 1.8px solid var(--color-tomato) !important;
  outline: none;
}

.input-container {
  height: 19px;
  width: 177px;
  display: flex;
  right: 21px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.subscribe-arrow-icon {
  width: 17px;
  height: 22.9px;
  top: 1px;
  position: relative;
  background: url(/subscribe-arrow.svg);
  z-index: 2;
  right: 20px;
  border: none;
  background-size: cover;
}
.subscribe-arrow-icon:hover{
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.subscribe {
  height: 74px;
  width: 1170px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-8xl) var(--padding-3xl) var(--padding-5xl-1);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-471xl);
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-tomato);
  font-family: var(--font-graebenbach);
}
.social-media {
  margin-left: 210px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-66xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-tomato);
  font-family: var(--font-graebenbach);
}
