@import url("https://fonts.googleapis.com/css2?family=ITC Cushing Std:wght@500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Graebenbach:wght@400;700;900&display=swap");
body {
  margin: 0;
  line-height: normal;
}

a {
  text-decoration: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 0;
}

:root {
  /* Fonts */
  --font-itc-cushing-std: "ITC Cushing Std";
  --font-graebenbach: Graebenbach;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-mini: 15px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-lgi: 19px;
  --font-size-xl: 20px;
  --font-size-5xl: 24px;
  --font-size-11xl: 30px;
  --font-size-29xl: 48px;
  --font-size-41xl: 29px;
  --font-size-109xl: 128px;

  /* Colors */
  --color-black: #000;
  --color-dimgray: #666;
  --color-gainsboro-100: #e0dfdc;
  --color-gainsboro-200: #d9d9d9;
  --color-gray-100: #888;
  --color-gray-200: #222;
  --color-tomato: #dd3418;
  --color-whitesmoke: #EEE8DA;

  /* Gaps */
  --gap-12xs-3: 0.3px;
  --gap-11xs: 2px;
  --gap-10xs: 3px;
  --gap-9xs: 4px;
  --gap-8xs-9: 4.9px;
  --gap-8xs: 5px;
  --gap-6xs: 7px;
  --gap-4xs: 9px;
  --gap-3xs: 10px;
  --gap-2xs: 11px;
  --gap-xs: 12px;
  --gap-mini: 15px;
  --gap-base: 16px;
  --gap-xl: 20px;
  --gap-xl-5: 20.5px;
  --gap-2xl: 21px;
  --gap-2xl-3: 21.3px;
  --gap-5xl: 24px;
  --gap-6xl: 25px;
  --gap-10xl: 29px;
  --gap-13xl: 32px;
  --gap-20xl-5: 39.5px;
  --gap-21xl: 40px;
  --gap-27xl: 46px;
  --gap-31xl: 50px;
  --gap-32xl: 51px;
  --gap-33xl: 52px;
  --gap-35xl: 54px;
  --gap-56xl: 75px;
  --gap-57xl: 76px;
  --gap-65xl: 84px;
  --gap-243xl: 262px;
  --gap-471xl: 490px;
  --gap-545xl: 564px;

  /* Paddings */
  --padding-12xs: 1px;
  --padding-11xs-5: 1.5px;
  --padding-11xs: 2px;
  --padding-9xs-9: 3.9px;
  --padding-9xs: 4px;
  --padding-6xs-1: 6.1px;
  --padding-6xs: 7px;
  --padding-5xs: 8px;
  --padding-4xs-5: 8.5px;
  --padding-4xs: 9px;
  --padding-3xs: 10px;
  --padding-2xs: 11px;
  --padding-xs-4: 11.4px;
  --padding-xs: 12px;
  --padding-sm-4: 13.4px;
  --padding-sm: 14px;
  --padding-mini: 15px;
  --padding-base-5: 16.5px;
  --padding-mid: 17px;
  --padding-lgi: 19px;
  --padding-xl: 20px;
  --padding-2xl: 21px;
  --padding-3xl: 22px;
  --padding-4xl: 23px;
  --padding-5xl-1: 24.1px;
  --padding-6xl: 25px;
  --padding-8xl: 27px;
  --padding-9xl: 28px;
  --padding-15xl: 34px;
  --padding-19xl: 38px;
  --padding-21xl: 40px;
  --padding-22xl: 41px;
  --padding-23xl: 42px;
  --padding-31xl: 50px;
  --padding-33xl: 52px;
  --padding-45xl: 64px;
  --padding-46xl: 65px;
  --padding-63xl: 82px;
  --padding-66xl: 85px;
  --padding-70xl: 89px;
  --padding-88xl-5: 107.5px;
  --padding-130xl-5: 149.5px;
  --padding-135xl: 154px;
  --padding-226xl: 245px;
  --padding-433xl-5: 452.5px;

  /* Border radiuses */
  --br-8xs: 5px;
}
